<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Taller4</title>
</head>
<body>
    <center>
    <table width="1300" class="arriba" </center>
        <tr>
          <td bgcolor="#062a5f" align="center"><img src="../static/images/logo1.jpg" width="95" height="95" /></td>
          <td bgcolor="#062a5f" align="center"><h1>UNIVERSIDAD AUTONOMA DE CHIAPAS</h1></td>
          <td bgcolor="#062a5f" align="center"><img src="../static/images/loge3.png"width="170" height="95" /></td>
        </tr>
        
      </table>

    <section class="form-login">
        <h5>Login</h5>
        <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
        <input class="controls" type="password" name="contraseña" value="" placeholder="Contraseña">
        <input class="buttons" type="submit" name="" value="INGRESAR">
        <p><a href="#">¿Olvidastes tu Contraseña?</a></p>
  
      </section>
      <br>

      <center>
        <table width="1300" class="arriba" </center>
            <tr>
              
              <td bgcolor="#65b7c2" align="center"><h2>CONTACTO:</h2>
                Alumnno: Elian Guadalupe Diaz Balcazar<br>
                Matricula: A200178<br>
                Correo: elian.diaz09@unach.mx<br>
                Grado y grupo: 6 "N"<br>
                Tuxtla Gutierrez Chiapas a 21 de febrero del 2023

            </td>
              
            </tr>
            
          </table>
</body>
</html>